@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --almost-black: #1A1A1A;
}

html {
    background-image: url(../images/mirage_bg_opaque.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

p a {
    transition: all 0.2s;
}

p a:hover {
    text-decoration: underline;
    color: #99FFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

/* nav bar */
li, a, button {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #1A1A1AD9;
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    backdrop-filter: blur(4px);
    box-shadow: 0px -5px 10px 6px black;
}

.nav-logo-long, .nav-logo-short {
    cursor: pointer;
    height: auto;
}

.nav-logo-long {
    width: 200px;
}

.nav-logo-short {
    display: none;
    width: 50px;
}

#nav-link {
    list-style: none;
}

#nav-link li {
    display: inline-block;
    padding: 10px 30px;
}

#nav-link li a {
    transition: all 0.3s ease 0s;
    font-weight: 700;
    text-align: center;
}

#nav-link li a:hover {
    color: #99FFFF;
}

.mobile-nav-icon {
    display: none;
    cursor: pointer;
}

.mobile-nav-icon i {
    transition: all 0.2s;
}

.mobile-nav-icon i:hover {
    color: #8db4ff;
}

/* article styles (general) */
article {
    display: flex;
    margin: 0px 80px;
}

article h1 {
    font: 700 2.5rem/3rem "Outfit";
}

article p {
    font: 300 1rem/1.4rem "Outfit";
    letter-spacing: 1px;
}

/* section styles (general) */

/* #home */
article#home {
    height: 100vh;
    align-items: center;
}

article#home section.home {
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

article#home section.home h1 {
    font: 700 3.6rem/4rem "Outfit";
}

article#home section.home p {
    margin-top: 20px;
    margin-right: 100px;
    font: 300 1.4rem/1.7rem "Outfit";
}

div.btn-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.btn-container .btn {
    background-color: white;
    border: 3px solid white;
    color: var(--almost-black);
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 65px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

div.btn-container .btn:hover {
    border-color: #99FFFF;
    background-color: #ffffff00;
    color: #99FFFF;
}

.logo-big {
    position: absolute;
    right: 0;
    z-index: 0;
}

/*

:')

article#home div.btn-container .btn:after {
    content: "";
    display: inline-block;
    background: url("../images/chevron_right.svg") no-repeat right center;
    margin-top: 1px;
    width: 15px;
    height: 15px;
}

*/

/* #about */
article#about {
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
}

article#about section {
    display: flex;
    align-items: center;
    margin: 0 8%;
}

article#about section p {
    text-align: justify;
}

/* topright  */
.about-topright h1 {
    text-align: right;
    min-width: 235px;
}
.about-topright p {
    margin-left: 40px;
}
/* botleft  */
.about-botleft {
    flex-direction: row-reverse;
}

.about-botleft h1 {
    min-width: 190px;
}
.about-botleft p {
    margin-right: 40px;
}


/* #platform */

article#platform {
    height: 90vh;
    align-items: center;
}

article#platform .container {
    display: flex;
}

article#platform h1 {
    margin-bottom: 80px;
    width: 40%;
}

article#platform .container h2 {
    font: 600 1.25rem/1.5rem "Outfit";
}

article#platform .container-item {
    width: 33%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article#platform img {
    width: 100px;
    height: 100px;
    margin: 20px;
    transition: all 0.3s ease;
}

/* #team */

article#team {
    display: block;
    height: auto;
    margin-bottom: 120px;
}

article#team section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c2c2c;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 0 15px 1px #2c2c2c;
}

.card .image-container {
    border-radius: 20px;
    min-height: 100px;
    min-width: 100px;
    max-height: 100px;
    max-width: 100px;
    margin: 35px 0;
}

.card .image-container img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.card-info {
    margin: 15px;
}

.card-info h3 {
    font-weight: 500;
    font-size: 1.2rem;
}

.card-info p {
    font-size: 1rem;
    line-height: 1.2rem;
}

.card-info * {
    text-align: left;
}

.card-info span {
    font-weight: 100;
}

article#team h1.h1-advisors {
    margin-top: 70px;
}

article#team section div.advisor-btn-container {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.get-in-touch-card {
    margin-top: 50px;
    background-color: transparent;
    box-shadow: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.get-in-touch-card .btn-container {
    justify-content: center;
}

/* #contact */

article#contact {
    border-top: 2px solid #ffffffb1;
    height: auto;
    padding: 30px;
}

article#contact section {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 400px;
}

article#contact section h2,
article#contact section input,
article#contact section textarea,
article#contact section p,
article#contact section .socials-container {
    margin: 10px 0;
}

article#contact section input,
article#contact section textarea {
    background-color: #303030;
    padding: 5px;
    font-size: 1rem;
    width: 100%;
    border: none;
    border-radius: 7px;
}

article#contact section textarea {
    min-height: 150px;
    resize: none;
}

article#contact section input::placeholder,
article#contact section textarea::placeholder {
    color: rgba(255, 255, 255, 0.634);
}

section.updates p {
    text-align: right;
}

.socials-container {
    text-align: right;
}

.socials-icon {
    height: 24px;
    width: auto;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.socials-icon:hover {
    color: #ff8686;
}

/* terms and conditions */

article#terms {
    display: block;
    height: auto;
    margin-bottom: 50px;
}

article#terms section {
    margin-top: 110px;
}

article#terms section h1,
article#terms section h2,
article#terms section p {
    margin-top: 20px;
}

article#terms section p {
    margin-bottom: 10px;
}

/*********************************/
/*         Media queries         */
/*********************************/

/* XX-Large */
@media screen and (min-width: 1400px) {
    article {
        margin: 0 10%;
    }
}

/* X-Large */
@media screen and (min-width: 1200px) {
    .card {
        width: 290px;
        height: 410px;
    }
}

@media screen and (max-width: 1200px) {
    .card {
        width: 290px;
        height: 410px;
    }

    article#team {
        margin: 0 40px 40px 40px;
    }
}

@media screen and (min-width: 992px) {
    .advisors-card {
        height: 285px;
    }
}

/* Medium */
@media screen and (max-width: 992px) {

    /* nav bar */
    #nav-link li {
        padding: 10px 16px;
    }

    .nav-logo-long {
        width: 170px;
    }

    /* home */
    article#home section.home h1 {
        font: 700 2.8rem/3.5rem "Outfit";
    }

    article#home section.home {
        width: 100%;
    }

    /* about  */
    article#about section {
        margin: 0;
    }

    article#about h1 {
        font: 700 2rem/2.4rem "Outfit";
    }

    article#about h1 {
        font: 700 2rem/2.4rem "Outfit";
    }

    /* platform  */
    article#platform {
        height: auto;
        margin: 50px;
    }

    article#platform .container {
        flex-direction: column;
    }

    article#platform .container .container-item {
        width: auto;
        flex-direction: row;
    }

    article#platform .image-container {
        margin-right: 10px;
    }

    /* about */
    .about-botleft {
        margin-bottom: 40px;
    }

    /* team */
    article#team section {
        padding: 0;
    }

    .card {
        flex-direction: row;
        width: 530px;
        height: 170px;
    }
}

/* Small */
@media screen and (max-width: 768px) {

    /* nav bar */
    #nav-link li {
        padding: 10px 16px;
    }

    .nav-logo-long {
        display: none;
    }

    .nav-logo-short {
        display: inline;
    }

    /* home */
    article#home h1 {
        font: 700 2.8rem/3.5rem "Outfit";
    }

    /* about */

    article#about section {
        display: block;
        width: 100%;
    }

    article#about section p {
        margin: 20px 0;
    }

    .about-topright h1 {
        text-align: left;
    }

    /* team  */
    .card {
        width: 525px;
        height: 170px;
    }

    /* contact */
    article#contact {
        flex-direction: column;
        align-items: center;
    }
}

/* breakpoint for ≡ menu on mobile */
@media screen and (max-width: 622px) {
    .nav-logo-short {
        display: none;
    }

    .nav-logo-long {
        display: inline;
    }

    .mobile-nav-icon {
        display: block;
    }

    nav {
        display: block;
        position: fixed;
        top: 75px;
        left: 0;
        right: 0;
        background-color: #454545fa;
        overflow: hidden;
        transition: all 0.6s ease;
        z-index: 0;
    }

    nav.mobile-navstate-inactive {
        height: 0;
    }

    nav.mobile-navstate-active {
        height: 260px;
    }

    #nav-link li {
        display: list-item;
        margin: 10px 30px;
    }

    #nav-link li a {
        color: #f9f9f9;
    }
}

/* X-Small */
@media screen and (max-width: 576px) {
    /* general */
    article {
        margin: 0px 30px;
    }

    /* home */
    article#home h1 {
        font: 700 2rem/2.5rem "Outfit" !important;
    }

    article#home section.home p {
        margin-right: 0;
        font: 300 1.1rem/1.4rem "Outfit" !important;
    }

    /* about */
    article#about {
        height: auto;
        margin: 50px;
    }

    article#about section {
        flex-direction: column;
        margin-bottom: 50px;
    }

    article#about section h1 {
        font: 700 1.6rem/2rem "Outfit";
    }

    article#about#section p {
        margin: 0 20px;
    }

    /* platform */
    article#platform .container .container-item {
        width: auto;
        flex-direction: column;
    }

    /* team */

    article#team {
        margin-bottom: 40px;
    }
    .card {
        width: 280px;
        height: 370px;
    }

    .advisors-card {
        height: 260px;
    }

    .card-info {
        margin-left: 0;
    }

    article#team section div.advisor-btn-container {
        align-items: center;
    }

    .card .image-container {
        border-radius: 20px;
        min-height: 80px;
        min-width: 80px;
        max-height: 80px;
        max-width: 80px;
    }

    /* contact */

    article#contact section {
        width: 100%;
    }

    .card {
        flex-direction: column;
    }

    .card .image-container {
        margin-bottom: 10px;
    }
}